<div class="row">
  <div class="col-md-12">

    <div class="well">
      <div class="media-left">
        <img class="media-object" ng-src="{{$ctrl.ad.item_image}}" width=200px height=200px>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{$ctrl.ad.title}}
          |
          {{$ctrl.ad.price}}
        </h4>
        <div class="text-right">
          Some Author
        </div>
        <p>
          {{$ctrl.ad.description}}
        </p>
        <div>
          {{$ctrl.post.created_at.fromNow()}}
          |
          <i class="glyphicon glyphicon-comment"></i>
          <a>
            Some comments
          </a>
        </div>
        <div class="row">
          <div class="col-md-offset-1">
            <hr>
            <p>
              Comment text
            </p>
            <form class="form-inline">
              <div class="form-group">
                <input class="form-control">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
